.form-group {
    position: relative;
    width: 100%;
}

.search-field-container {
    display: flex;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    padding: 10px 8px 8px 12px;
    background-color: #fff;
    height: 20px !important;
    width: 236px !important;
    border-radius: 8px;
}


.search-field-container-Target {
    display: flex;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    padding: 10px 8px 8px 12px;
    background-color: #fff;
    height: 35px !important;
}

.search-field-container-Target>input {
    border: none !important;
    font-family: Inter !important;
    font-size: 14px !important;
    font-weight: 500 !important;
}

.search-field-container-Target>input:focus-visible {
    border: none !important;
    outline: none;
    font-family: Inter !important;
    font-size: 14px !important;
    font-weight: 500 !important;
}

.search-field-container-Target>div:nth-child(1) {
    display: grid;
}


.search-field-container>input {
    border: none !important;
    font-family: Inter !important;
    font-size: 14px !important;
    font-weight: 500 !important;
}

.empSearchStyling {
    padding: 0 27px 0 16px;
}

.empSearchNoScroll {
    padding: 0 16px;
}

.search-field-container>input:focus-visible {
    border: none !important;
    outline: none;
    font-family: Inter !important;
    font-size: 14px !important;
    font-weight: 500 !important;
}

.search-field-container>div:nth-child(1) {
    display: grid;
}

.search-field {
    width: 100%;
    color: #8e8e8e !important;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

.icon-container {
    display: flex;
    align-items: center;
}

.icon-container span::before {
    color: #8e8e8e !important;
}